@model MVC_Three.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Membership Type</td>
        <td>Is Subscribed To Newsletter</td>
        <td>Birth Date</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.MembershipType.Name</td>
        <td>@Model.IsSubscribedToNewsletter</td>
        @if (Model.BirthDate != null)
        {
            <td>@Model.BirthDate</td>
        }
        else
        {
            <td>&nbsp;</td>
        }



    </tr>


</table>