@model List<MVC_Three.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

@* new { Controller = "Customers" } fixes the problem where button has ?length=9, this seems to be the
    cause of new record having issues (cant add records apprantly)*@
@Html.ActionLink(linkText: "New Customer", actionName: "New", routeValues: new { Controller = "Customers" }, htmlAttributes: new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Membership Type</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    @foreach (var customer in Model)
    {
    <tr>
        <td scope="row"><a href="/Customers/details/@customer.Id">@customer.Name</a></td>
        @*
        we cant call membershiptype (ref table like this as )
        EF only loaded customers table only
        when we do this we get NULL
        to solve do EAGER LOADING (see customer controller)
        <td>@customer.MembershipType.DiscountRate</td>*@
        <td>@customer.MembershipType.Name</td>
        <td>
            @*below when the last param is missing 'null', the link will all show length=9
                so takenote
                *@
            @Html.ActionLink("Edit", "Edit", "Customers", new { Id = customer.Id }, null)
            

        </td>
    </tr>

    }
</table>